body{margin:0}
.bio{
  height: 350px;
  display: flex;
  justify-content:center;
  padding-top:100px;
  background-size: cover !important;
  background-position: center !important;
  background-blend-mode: multiply !important;
}
.bio .photo{
  width: 150px;
  height: 150px;
  background: url(pic.jpg);
  margin:20px;
  border-radius: 10px
}
.bio .text{
  width: 500px;
  color:#ccc
}

.photos{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: auto;
  width: 920px;
  height: 1040px;
  padding: 100px;
  overflow: hidden;
  transition: .2s;
  transform: translateY(-70px);
  background: #fff;
}
.photos:before{
  content: 'MINHAS FOTOS... ';
  position: absolute;
  transform: translateY(-40px);
  font-size: 20px;
  color:#888
}
.photos div{
  width: 300px;
  height: 375px;
  margin: 3px;
  overflow: hidden;
  border-radius: 8px
}
.photos div img{
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  opacity: .5;
  filter: grayscale(.85)
}
.photos div:hover img{
  filter: grayscale(0);
  transition-duration: .2s;
  opacity: .9;
  cursor: pointer
}
.photos div:hover{
  transform: translateY(-5%);
  transition-duration: .2s;
}
.photos div:before{
  content: ' + ';
  position: relative;
  z-index: 99;
  top: 40%;
  left: 45%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-size: 50px;
  font-weight: 100;
  opacity: 0;
  transition: .3s;
  pointer-events: none
}
.photos div:hover:before{
  opacity: 1 !important;
}
*{font-family: ubuntu}

#plusP{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  font-size: 40px;
  cursor: pointer
}
#overlay{
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  z-index: 999;
  padding: 20px;
  transform: translate(-50%,-50%);
  background: rgba(0,0,0,.5)
}
#full{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 70%;
  height: auto;
  border-radius: 10px
}

#close{
  z-index: 99;
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 20px;
  font-size: 35px;
  background: rgba(255,255,255,.2);
  border: none;
  color: white
}

.videos:before{
  content: 'MEUS VIDEOS... ';
  position: absolute;
  transform: translateY(-40px);
  font-size: 20px;
  color:#888
}
.videos{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin: auto;
  width: 960px;
  height: 920px;
  padding-top: 100px;
  overflow: hidden;
}